* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 90vh;
  width: 100%;
  background-image: url(bg-img4.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: gray;
  color: white;
}

section {
  /* border: 2px solid black; */
  margin-top: 50px;
  margin-left: 125px;
  margin-right: 20px;
  width: 85%;
  font-weight: bold;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.18);
  box-sizing: rgba(0, 0, 0, 0.17);
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin-top: 50px;
  margin-left: 160px;
  gap: 10px;
}

form > input {
  padding: 5px;
  width: 200px;
}

button {
  padding: 8px;
  width: 200px;
  cursor: pointer;
}
