* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  /* background-image: url(bg-img2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  background-color: gray;
}

section {
  /* border: 2px solid black; */
  margin-top: 50px;
  margin-left: 125px;
  margin-right: 20px;
  width: 85%;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin-top: 50px;
  margin-left: 160px;
  gap: 10px;
}

form > input {
  padding: 5px;
  width: 200px;
}

button {
  padding: 8px;
  width: 200px;
  cursor: pointer;
}
